<!-- 
    associate with property formGroup with the form    
    (ngSubmit) -> event happen when submit the form (here is submit form.value, we write the onSubmit function)
-->
<form 
    [formGroup]="form" 
    (ngSubmit)="onSubmit(form.value)"
>
    <fieldset class ="d-grid gap-2 col-12">
        <legend> ADD PERSON</legend>
        <!-- 
        Input attribute -> formControlName : the name attached to the form control(define attribute in ts file)  
                        -> name: 
        -->
        <input type="text" name="name" placeholder="NAME" formControlName="name">
        <input type="number" name="age" placeholder="20" formControlName="age">
        <div class="form-check">
            <input type="checkbox" name="instructor_checkbox" id="instructor_checkbox" class="form-check-input" formControlName="instructor" >
            <label for="instructor_checkbox" class="form-check-label">Instructor</label>
        </div>
        <!-- 
            [disabled] -> if the form is not valid, then disable the save 
        -->
        <button class="btn btn-outline-primary"
                [disabled]="!form.valid"
        >
            SAVE
        </button>
    </fieldset>
    <!--
        Pipe error into json -> turn that obj into json form 
     -->
    <span *ngIf="form.controls['name'].errors as error0"> {{error0 | json}}</span>
</form>
